/* ---------------
START OF RESET.CSS
--------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* -------------
END OF RESET.CSS
------------- */
@font-face {
	font-family: Verdana;
	src: url('../fonts/Verdana.ttf');
}
@font-face {
	font-family: Georgia;
	src: url('../fonts/georgia.ttf');
}
/* ------------------ 
START OF FONTS ADDING
-------------------*/

.wrapper {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    min-width: px;
    .center {
        margin: 0 21px;
        header {
            display: flex;
            height: 43px;
            align-items: center;
            border: 1px solid #d4d4d4;
            .header-icons {
                display: flex;
                .header-icons__icon {
                    width: 23px;
                    height: 23px;
                    border: 1px solid #d4d4d4;
                    margin-left: 10px;
                }
            }
            .header-search {
                display: flex;
                align-content: center;
                width: 100%;
                justify-content: flex-end;
                form {
                    p {
                        input[type=search] {
                            border: 1px solid #d4d4d4;
                            color: #d4d4d4;
                            font-family: Verdana;
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 12px;
                            height: 25px;
                            width: 245px;
                        }
                    }
                }
                .submit {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 38px;
                    height: 23px;
                    border: 1px solid #d4d4d4;
                    margin-left: 5px;
                    margin-right: 10px;
                    
                    a {
                        text-decoration: none;
                        color: #d4d4d4;
                    }
                }
            }
        }
        .logo-nav {
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 100%;
            margin-top: 24px;
            .logo-nav__logo {
                max-width: 500px;
                h1 {
                    color: #d3d3d3;
                    font-family: Georgia;
                    font-size: 36px;
                    font-weight: 400;
                    line-height: 36px;
                }
                p {
                    margin-top: 13px;
                    color: #d3d3d3;
                    font-family: Georgia;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 16px;
                }
            }
            .logo-nav__nav {
                max-width: 500px;
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
                margin-top: 31px;
                a {
                    text-decoration: none;
                    color: #ffffff;
                    font-family: Verdana;
                    font-size: 14px;
                    font-weight: bold;
                    line-height: 14px;
                    div {
                        padding: 16px;
                        background-color: #ff9900;
                    }
                }
            }
        }
        .big-content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            border: 1px solid #d4d4d4;
            @media screen and (max-width: 768px) {
                grid-template-columns: auto;
            }
            .big-content__left {
                .block160 {
                    display: flex;
                    margin-left: 20px;
                    margin-top: 20px;
                    margin-right: 20px;
                    .block160__img {

                    }
                    .block160__text {
                        margin-left: 20px;
                        
                        h2 {
                            color: #666666;
                            font-family: Georgia;
                            font-size: 18px;
                            font-weight: 400;
                            line-height: 18px;
                        }
                        .line1 {
                            height: 1px;
                            background-color: #b3b3b3;
                            width: 100%;
                            margin-top: 7px;
                            margin-bottom: 11px;
                        }

                        .textblock {
                            color: #666666;
                            font-family: Verdana;
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 14.4px;
                        }
                        .continue {
                            margin-top: 13px;
                            display: flex;
                            justify-content: flex-end;
                                a {
                                text-decoration: none;
                                color: #ff9900;
                                font-family: Verdana;
                                font-size: 13px;
                                font-weight: 400;
                                line-height: 13px;
                            }
                        }
                    }
                }
                .line3 {
                    height: 1px;
                    background-color: #b3b3b3;
                    width: auto;
                    margin: 13px 20px 0px 20px;
                    margin-right: 20px;
                    margin-bottom: 11px;
                }
                

                .block80 {
                    display: flex;
                    border: 1px solid #d4d4d4;
                    margin: 33px 20px 20px 20px;
                    padding: 9px;
                    p {
                        margin-left: 11px;
                        color: #666666;
                        font-family: Verdana;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 19.2px;
                        span {
                            color: #ff9900;
                        }
                    }
                }
            }
            .big-content__right {
                margin-left: 20px;
                margin-top: 20px;
                margin-right: 20px;
                h2 {
                    color: #666666;
                    font-family: Georgia;
                    font-size: 30px;
                    font-weight: 400;
                    line-height: 30px;
                }
                .line2 {
                    height: 1px;
                    background-color: #b3b3b3;
                    width: 100%;
                    margin-top: 13px;
                    margin-bottom: 23px;
                }
                div {
                    width: 100%;
                    img {
                        width: 100%;
                    }
                }
                p {
                    color: #666666;
                    font-family: Verdana;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 16.8px;
                    margin-top: 28px;
                }
                .two-buttons {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    .first-button {
                        border: 1px solid #915700;
                        max-width: 202px;
                        background-color: #ff9900;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        a {
                            display: block;
                            margin: 9px 28px 7px 28px;
                            color: #ffffff;
                            font-family: Georgia;
                            font-size: 22px;
                            font-weight: 400;
                            line-height: 22px;
                            text-transform: uppercase;
                            text-decoration: none;
                        }
                    }
                    .second-button {
                        border: 1px solid #915700;
                        max-width: 202px;
                        background-color: #ff9900;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        a {
                            display: block;
                            margin: 9px 32px 7px 30px;
                            color: #ffffff;
                            font-family: Georgia;
                            font-size: 22px;
                            font-weight: 400;
                            line-height: 22px;
                            text-transform: uppercase;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
        .about-template {
            margin-top: 31px;
            padding: 20px;
            border: 1px solid #d4d4d4;
            display: flex;
            .about {
                max-width: 590px;
                h2 {
                    color: #666666;
                    font-family: Georgia;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 18px;
                }
                .line4 {
                    height: 1px;
                    background-color: #b3b3b3;
                    width: auto;
                    margin-top: 13px;
                    margin-bottom: 23px;
                }
                p {
                    color: #666666;
                    font-family: Verdana;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 14.4px;
                }
            }
            .projects {
                max-width: 300px;
                margin-left: 29px;
                width: 100%;
                h2 {
                    color: #666666;
                    font-family: Georgia;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 18px;
                }
                .line4 {
                    height: 1px;
                    background-color: #b3b3b3;
                    width: auto;
                    margin-top: 13px;
                    margin-bottom: 23px;
                }
                div {
                    display: flex;
                    justify-content: space-between;
                    img {
                        margin-bottom: 17px;
                    }
                }
            }
        }

        .last {
            display: flex;
            justify-content: space-between;
            border: 1px solid #d4d4d4;
            padding: 19px;
            margin-top: 31px;
            .stay {
                width: 290px;
                h2 {
                    color: #666666;
                    font-family: Georgia;
                    font-size: 22px;
                    font-weight: 400;
                    line-height: 22px;
                }
                .line5 {
                    height: 1px;
                    background-color: #b3b3b3;
                    width: auto;
                    margin-top: 13px;
                    margin-bottom: 23px;
                }
                p {
                    color: #666666;
                    font-family: Verdana;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 12px;
                    margin-bottom: 13px;
                }
                .bottom-search {
                    display: flex;
                    margin-bottom: 14px;
                    
                    form {
                        p {
                            input[type=search] {
                                border: 1px solid #d4d4d4;
                                color: #d4d4d4;
                                font-family: Verdana;
                                font-size: 12px;
                                font-weight: 400;
                                line-height: 12px;
                                height: 25px;
                                width: 242px;
                            }
                        }
                    }
                    .submit2 {
                        align-items: center;
                        width: 38px;
                        height: 23px;
                        border: 1px solid #d4d4d4;
                        margin-left: 5px;
                        margin-right: 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        
                        a {
                            text-decoration: none;
                            color: #d4d4d4;
                        }
                    }
                }
                .unsub {
                    a {
                        color: #666666;
                        font-family: Verdana;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 12px;
                        text-decoration: none;
                    }
                }
            }
            .shortcuts {
                width: 290px;
                h2 {
                    color: #666666;
                    font-family: Georgia;
                    font-size: 22px;
                    font-weight: 400;
                    line-height: 22px;
                }
                .line5 {
                    height: 1px;
                    background-color: #b3b3b3;
                    width: auto;
                    margin-top: 13px;
                    margin-bottom: 23px;
                }
                p {
                    margin-bottom: 14px;
                    a {
                        color: #ff9900;
                        font-family: Verdana;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 12px;
                    }
                }
            }
            .details {
                width: 290px;
                h2 {
                    color: #666666;
                    font-family: Georgia;
                    font-size: 22px;
                    font-weight: 400;
                    line-height: 22px;
                }
                .line5 {
                    height: 1px;
                    background-color: #b3b3b3;
                    width: auto;
                    margin-top: 13px;
                    margin-bottom: 23px;
                }
                p {
                    a {
                        color: #ff9900;
                        font-family: Verdana;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 12px;
                    }
                }
                .contacts {
                    color: #ff9900;
                    font-family: Verdana;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 24px;
                }
            }
        }
    }
    footer {
        border: 1px solid #d4d4d4;
        margin-top: 31px;
        padding-top: 15px;
        padding-bottom: 16px;
        margin-bottom: 8px;
        display: flex;
        justify-content: space-between;
        padding-left: 21px;
        padding-right: 21px;
        .footer-copy {
            color: #666666;
            font-family: Verdana;
            font-size: 12px;
            font-weight: 400;
            line-height: 12px;
            span {
                /* Text style for "Domain Nam" */
                color: #ff9900;
            } 
        }
        .footer-template {
            color: #666666;
            font-family: Verdana;
            font-size: 12px;
            font-weight: 400;
            line-height: 12px;
            span {
                /* Text style for "OS Templates" */
                color: #ff9900;;
            }
        }
    }
}